body{
  background-color: skyblue;
}
h3{
  font-family: 'Courier New', Courier, monospace;
  color: greenyellow;
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}